<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Test</title>

    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/ionicons.min.css">
</head>
<body>

    <div class="d-grid gap-10 col-6  btn-lg mx-auto">
        <button class="btn btn-outline-dark" type="button">Personality Test</button>
    </div>

    <div class="center-text">
        <h4>
            Personality is just one of many factors that guide our behavior, however.
            Our actions are also influenced by our environment, our experiences, and our individual goals.
        </h4>
    </div>


    <script src="path/to/bootstrap.bundle.min.js"></script>
</body>
</html>
