<title>Personality Test</title>
    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/ionicons.min.css">
    <link rel="stylesheet" href="_body.css">
    <link rel="stylesheet" href="_footer.css">
    <style>
        body {
            background: linear-gradient(135deg, #f8f9fa, #e0f7fa);
            font-family: 'Arial', sans-serif;
            color: black;
        }
        .center-text {
            text-align: center;
            margin-top: 20px;
        }
        .footer-bottom {
            padding: 10px 0;
            background-color: #acb7ae;
            color: black;
            text-align: center;
        }
        .footer-bottom .social a {
            margin: 0 10px;
            color: #ffffff;
        }
        .footer-bottom .list-inline {
            padding: 0;
            list-style: none;
        }
        .footer-bottom .list-inline-item {
            display: inline;
            margin: 0 10px;
        }
        .footer-bottom .list-inline-item a {
            color: #ffffff;
            text-decoration: none;
        }
        .footer-bottom .list-inline-item a:hover {
            text-decoration: underline;
        }
        .btn-dark {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-dark:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
<body>
<div class="d-grid w-20 gap-10 col-6 mx-auto mt-5 ">
<h2 >"Explore and enjoy our community."</h2>
<div class = text-body-secondary rounded>
  <h5>Only 10 minutes to get a “freakishly accurate” description of who you are and why you do things the way you do.
  </h5>
  </div>
</div>
</div>

<div class="d-grid w-20 gap-5 col-7 mx-auto mt-4 shadow p-4 mb-3 rounded ">
    <button class="btn btn-outline-dark btn-lg" type="button"><h4><strong>Personality Test</strong></h4></button>
</div>

<div class="center-text text-body-secondary rounded mx-auto mt-4 ">
    <h4>
        Personality is just one of many factors that guide our behavior, however.
        Our actions are also influenced by our environment, our experiences, and our individual goals.
    </h4>
</div>

<div class="container mx-auto mt-5">
    <div class="row justify-content-center mt-1 ">
        <div class="col-lg-4">
            <div class="card">
                <img src="https://www.16personalities.com/static/images/premium/suites/complete/logician.svg?v=1" class="card-img-top" alt="Analysts">
                <div class="card-body">
                    <h5 class="card-title">Analysts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="https://www.16personalities.com/static/images/premium/suites/complete/mediator.svg?v=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diplomats</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">See More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img src="https://www.16personalities.com/static/images/premium/suites/complete/adventurer.svg?v=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Explorers</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-secondary" href="/personalities">Find more personalities!</a>
<div class="footer-bottom">
    <footer >
      <style>
        .social-icon {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .social-icon__item {
            margin-right: 30px;
        }

        .social-icon__item:last-child {
            margin-right: 0;
        }

        .social-icon__link {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <ul class="list-inline ">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>

    </div>
        <ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="#">
                <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>

    <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
</body>
        <p class="copyright">circular © 2024</p>
    </footer>
</div>
<script src="path/to/bootstrap.bundle.min.js"></script>
 <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
